*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --desaturated-red: #ce9797;
  --soft-red: #f96262;
  --dark-greyish-red: #413a3a;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 64em) {
}
